@tailwind base;
@tailwind components;
@tailwind utilities;

/* @layer components {

} */
@layer utilities {
  .pages_thumb_img {
    filter: blur(5px) brightness(0.5) contrast(1);
  }
}
body {
  font-family: DB HelvethaicaX;
  font-weight: 400;
  font-style: normal;
  font-size: 20px;
}

* ::-webkit-scrollbar {
  width: 5px;
  background-color: #3b3c4c;
}
* ::-webkit-scrollbar-thumb {
  background-color: #6c2bd9;
  border-radius: 10px;
  width: 5px;
}

@font-face {
  font-family: "DB HelvethaicaX";
  src: url(/font/DBHelvethaicaX-55Regular.ttf);
  font-weight: 400;
  font-style: normal;
  font-size: 20px;
  font-display: swap;
  color: white !important;
}

/* #ep_list li a:visited {
  color: #6c2bd9;
}
#ep_list ul a:visited {
  color: #6c2bd9;
} */
.pagination a {
  color: #ffff !important;
}

a {
  color: #999999;
}
a:visited {
  color: #cc2f86;
}
